excludes=**/.git/**,**/.github/**,**/node_modules/**,**/vendor/**,**/tests/**,**/charts/**,**/deploy/**,**/deployment/**,**/docs/**,**/mcp-servers/**,**/a2a-agents/**,**/agent_runtimes/**,**/infra/**,**/plugin_templates/**,**/scripts/**,**/tools_rust/**,**/mcpgateway/admin_ui/**,**/plugins/**,**/plugins_rust/**,**/llms/**

go.resolveDependencies=false
go.modules.resolveDependencies=true
